%h1 Bucket Detail Listing
%h3 Rule: #{@rule.name} ID: Rule: #{@rule.id} Branch: #{@branch}
%table#rules
  %thead
    %tr
      %th Ticket
      %th Details

  %tbody
    - @tickets.each do |ticket|
      %tr
        %td= ticket.id 